.header {
    width: 100%;
}

.left, .right {
    display: inline-block;
}

.right {
    float: right;
}

/* .left {
    position: relative;
    left: 20px;
    width: 100px;
    padding: 10px 20px;
  }

.right {
    position: relative;
    right: 20px;
    width: 100px;
    padding: 10px;
  } */

  /* Styles for the sign-in button */
.sign-in-button {
    /* position: absolute;
    top: 10px; /* Adjust the top position as needed */
    /* right: 10px; Adjust the right position as needed */
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style the button on hover */
  .sign-in-button:hover {
    background-color: #125699;
  }
  