/* Styles for the navigation bar */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  