<nav class="navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Checkout</a></li>
        <li><a href="#">Sections</a></li>
    </ul>
</nav>
  
