.container {
    position: relative;
  }
  
.item {
width: 100%; /* Optionally, adjust the width as needed */
position: absolute;
}

.header {
top: 0;
}

.navbar {
top: 100px; /* Adjust the top position as needed to create space between header and navbar */
}
  
  