.header {
    width: 100%;
}

.left, .right {
    display: inline-block;
}

.right {
    float: right;
    padding-top: 200px;
    padding-right: 200px;
}

.left {
    padding-top: 100px;
    padding-left: 300px;
}

.button-red {
    padding-left: 200px;
}

.button-list {
    margin-right: 20px;
}

.button-list-all
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

.red-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .red-button:disabled {
    background-color: gray; /* You can change the disabled button color */
    cursor: not-allowed;
  }

  .yellow-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .yellow-button[disabled] {
    background-color: lightgray; /* You can change the disabled button color */
    cursor: not-allowed;
  }
  
  