<div>
    <div class="left">
        <h1>26 OZ WATER BOTTLE</h1>
        <p>Easy to flip, sip and carry.</p>
        <ul>
            <li>Dishwasher safe</li>
            <li>18/8 stainless steel</li>
            <li>Double-wall vacuum insulation</li>
            <li>Leak-resistant cap</li>
        </ul>
        <p>Stock: {{stock}}</p>
    </div>
    <div class="right">
        <input [value] = "studentId" (input)="whenChanged()"><br>
        <p>Student Id : {{studentId}}</p>
        <img [src] = 'Product.bottle'  width="500" height="400">
    </div>
    <div class="button-red">
        <ul class="button-list-all">
            <li class ="button-list">
                <button [attr.disabled]="isProductInStock ? null : 'disabled'" class="yellow-button" (click)="whenClicked()">Buy Now (String Interpolation)</button>
            </li>
            <li class ="button-list"><button [disabled]="!isProductInStock" class="red-button" (click)="whenClicked()">Buy Now (Property Binding)</button></li>
        </ul>
    </div>
</div>
